
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(225, 228, 240);
}

.header-container {
    display: grid;
    width: 100%;
    height:100%;
    grid-template-rows: 50% 15% 35%;
    grid-template-columns:  60% 40%;
}

h2 {
    color: white;
    font-size: 2.5vw;
}
h5 {
    color: white;
    font-size: 1.5vw;
    font-weight: 500;
  
}


.item--1 {
    width: 100%;
    grid-row: 1/1;
    grid-column: 2/3;
    align-self: end;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 3.5vw;
}
 
.item--2 {
   
    grid-row: 2/2;
    grid-column: 2/3;
    text-align: center;
    align-self: start;
    padding-top: .5vw;
    color: white;
    font-weight: 400;
    font-size: 1.5vw;
}

.item--3 {
    
    grid-row: 3/3;
    grid-column: 2/3;
    text-align: center;
}

.item--4 {
    width: 100%;
    background: rgb(18, 212, 255);
    grid-row: 1/4;
    grid-column: 1/3;
    z-index: -1;
}

.bg-video{
    width: 100%;
    height: 100%;
    
}

.logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(188, 189, 196);
}

.logo-container img {
    width: 50%;
    margin: 0 20%;
}

button {
 
 width: 19vw;
 height: 5vw;
 border-radius: 2rem;
 border: solid 2px rgb(30, 210, 255);
 background-color: rgba(255, 255, 255, 0.709);
 font-weight: 700;
 font-size: 1.1vw;
}

button:hover {
    animation: shadow-burst  0.7s forwards, pressed 0.7s forwards;
}

@keyframes shadow-burst {
    0% {
      box-shadow:  0px 0px 10px 12px rgba(3, 209, 255, 0.3);
    }
    90% {
      box-shadow: 0px 0px 2px 19px rgba(49, 255, 128, 0);
     
    
    }
      100% {
          box-shadow:  0px 0px 10px 0px rgba(250, 0, 221, 0.0);
        }
}

@keyframes pressed {
    30% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.95);
    }
}

.game-packs {
    width: 100%;
    margin-top: 5vw;
    display: grid;
    grid-template-rows:  15% 20% 1fr;
    row-gap: 1vw;
    column-gap: 3vw;
    grid-template-columns: 1fr [center-start] repeat(3, 27%) [center-end] 1fr;
    justify-items: center;
    
}


.box--1 {
    width: 100%;
   padding: 10px 0;
    grid-row: 1/2;
    grid-column: 2/5;
    text-align: center;
    font-size: 3.4vw;
    font-weight: 800;
}

.box--2 {
    width: 100%;
    padding: 10px 0px;
    grid-row: 2/3;
    grid-column: 2/5;
   
    text-align: center;
    font-size: 1.7vw;
}

.box--3 {
    
    width: 100%;
    grid-row: 3/4;
    grid-column: 2/3;
   position:relative;
   background-image: url(../images/space-pack3.jpg);
   background-size: cover;
   background-position: center;
}

.box--4 {
    width: 100%;
    grid-row: 3/4;
    grid-column: 3/4;
    background-size: cover;
    background-position: 20% 20%;
    background-image: url(../images/sports-pack.jpg);

}

.box--5 {
    width: 100%;
    grid-row: 3/4;
    grid-column: 4/5;
    background-size: cover;
    background-image: url(../images/adventure-pack.jpg);
    background-position: center;
}

 
.box:hover {
    animation: shadow-burst  0.7s forwards, grow 0.2s ease-in forwards;
    cursor: pointer;
}

 @keyframes grow {
     90% {
         transform: scale(1.06);
     }
     100% {
        transform: scale(1.06);
    }
 }

 .overlay-text i {
    padding: 7vw 0vw 0vw 10vw;
    margin: 0 2vw 1vw;
    color: white;
    font-size: 3.7vw;
    font-weight: 800;
 }

 .overlay-text:hover i {
     color: rgb(108, 204, 255);
 }

 .overlay-text p {
  
    margin: 2vw 8vw;
    color: white;
    font-size: 2.7vw;
    font-weight: 800;
  
 }
 .overlay-text ul {
   
    color: white;
    font-size: 1.7vw;
    padding: 0vw 5vw 2vw 8vw;
    line-height: 2.5vw;
    list-style: none;
  
 }

 .overlay-text {
    z-index: 100;
    position: relative;
    overflow: hidden;
  
 }

 .overlay-text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
    opacity: 0.8;
    }

    .overlay-text.pack--1::before {
        background-color: #4f8391c8;
    }

    .overlay-text.pack--2::before {
        background-color: #425572ee;
    }
 
    .overlay-text.pack--3::before {
        background-color: #5f4d67c9;
    }
    
    .memebership-pack {
        background: linear-gradient(to right, rgb(72, 12, 49) 0%,rgba(140,22,57,1) 51%,rgba(125,185,232,1) 100%);
        display: grid;
        width: 100%;
        margin-top: 13vw;
        padding-top: 2vw;
        padding-left: 2vw;
        padding-bottom: 4vw;
        grid-template-rows:  repeat(4,  min-content) 1fr;
        grid-template-columns: 0.5fr  5fr 5fr 10fr;
        column-gap: 4vw;
        row-gap: 3vw;
        position: relative;
    }

    .memebership-pack::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20%;
        background: linear-gradient(to right, rgba(184, 163, 191, 0), rgba(255, 255, 255, 0.228) 50%, rgba(184, 163, 191, 0));
        transform:  translate(-100%, 0%);   
        overflow: hidden;
    }
    .memebership-pack:hover::after {
            animation: sheer 1.7s forwards;
        }
      
        @keyframes sheer {
            0%
           {
              transform:  rotate(-40deg) scale(2, 2) translate(-100%, 0%);
           }
            100% {
              transform: rotate(-40deg) scale(2, 2) translate(100%, 0%);
          }
        }
      
    

    .memebership-pack i {
        font-size: 3vw;
        font-weight: 800;
        color: rgb(255, 54, 118);
    }

    .memebership-pack .mbr-box:hover i {
        animation: pulse 2s infinite ease-in-out;   
    }
   
    @keyframes pulse {
        0% {
            transform: scale(0.4);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(0.4);
        }
    }

    .memebership-pack p {
        font-size: 1.8vw;
        font-weight: 800;
        color: white;
    }

    .memebership-pack article {
        font-size: 1.3vw;
        font-weight: 400;
        color: white;
    }

    .memebership-pack:hover p, article, i
    {
        cursor: pointer;
    }

    .mbr-box:nth-of-type(n+3):hover {
        transform: scale(1.1);
    }
    
    .mbr-box--1 {
        grid-row: 1/2;
        grid-column: 2/4;
        font-size: 2.7vw;
        font-weight: 800;
        color: rgb(245, 0, 98);
       font-family: 'Permanent Marker', cursive, Arial, Helvetica, sans-serif;
       letter-spacing: 0.2vw;
       transform: scaleY(1.3);
        text-align: center;
        align-self: center;
        padding-top: 2.5vw;
    }

    .mbr-box--2 {
        grid-row: 1/5;
        grid-column: 4/5;
        
        align-self: center;
    }
    .mbr-box--2 img {
        width: 100%;
        height: 100%;
    }

    .mbr-box--3 {
        grid-row: 2/3;
        grid-column: 2/3;
      
        text-align: center;
        align-self: center;
    }

    .mbr-box--4 {
        grid-row: 3/4;
        grid-column: 2/3;
       
        text-align: center;
        align-self: center;
    }

    .mbr-box--5 {
        grid-row: 4/5;
        grid-column: 2/3;
      
        text-align: center;
        align-self: center;
    }


    .mbr-box--6 {
        grid-row: 2/3;
        grid-column: 3/4;
      
        text-align: center;
        align-self: center;
    }

    .mbr-box--7 {
        grid-row: 3/4;
        grid-column: 3/4;
  
        text-align: center;
        align-self: center;
    }

    .mbr-box--8 {
        grid-row: 4/5;
        grid-column: 3/4;
     
        text-align: center;
        align-self: center;
    }


    .posts-container {
        width: 100%;
        height: 100%;
        margin-top: 7vw;
        display: grid;
        row-gap: 3vw;
        column-gap: 3vw;;
        grid-template-rows: 1fr 5fr;
        grid-template-columns: 1fr 27% 27% 27% 1fr;

    }

    .posts-img {
        width: 100%;
        height: 37%;
    }

    .posts-box a:link, a:active, a:visited {
        text-decoration: none;
        color: inherit;
    }
    .posts-box:not(:first-child){
        background-color: rgb(184, 211, 244);
        font-size: 3.4vw;
        font-weight: 800;
        text-align: center;
        position: relative;
        
    }
    .posts-box p:hover {
        color: rgb(2, 54, 103);
        cursor: pointer;
        position: relative;
        
    }
   .posts-box p::after {
    content: "\f105";
    font-family: FontAwesome; 
    font-weight: 900; 
    position: absolute;
    margin-left: 1vw;
    color: rgb(140, 183, 235);
    font-size: 3.5vw ;
   }

   .posts-box p:hover::after {
    color: rgb(80, 139, 211);
    transform: scale(1.2);
   }


   .posts-box:not(:first-child)::after {
       content: "\f004";
       font-family: FontAwesome; 
       font-weight: 400; 
       color: rgb(227, 225, 225);
      position: absolute;
      margin-top: -38.9vw;
      margin-left: 10vw;
     font-size: 1.6vw;
   }

   .posts-box:not(:first-child):hover::after {
       transform: scale(1.17)
   }

    .post-box--1 {
        grid-row: 1/2;
        grid-column: 1/6;
        font-size: 3.7vw;
        font-weight: 800;
        text-align: center;
    }

    .post-box--2 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .post-box--3 {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .post-box--4 {
        grid-row: 2/3;
        grid-column: 4/5;
    }
   
    .post-info {
       display: flex;
       justify-content: space-between;
       padding-top: 2vw;
       padding-bottom: 2vw;;
       margin-left: 1vw;
       margin-right: 1vw;
       font-size: 1.4vw;
       text-transform: uppercase;
    }

    footer {
        
     
    }
    .footer-container {
        color: rgb(134, 134, 137);
        background-color: rgb(42, 44, 46);
        font-size: 1.7vw;;
        
        display: flex;
        padding-top: 3vw;
        padding-bottom: 2vw;
        justify-content: space-around;
        align-items: center;
        margin-top: 10vw;
    }

    .footer-container div:hover {
        color: lightgray;
        cursor: pointer;
    }
    footer  p{
        padding-top: 1vw;
        text-align: center;
        font-size: 1vw;
        color: rgb(0, 0, 0);
    }